<div class="container">
	<div class="row">
		<div class="col text-center">
			<div class="heading">About US</div>
		</div>
	</div>

	<p>News Paper is India’s 4th largest newspaper with a total readership of 4.70 crore readers as per the latest Indian Readership Survey (IRS). News Paper has 21 editions, in 6 states and 2 Union Territories covering 179 districts.

	With a total daily readership of 4.70crore readers (Source: IRS2019Q2,TR), making it one of the most widely read broadsheet newspaper in India circulation base of 26.75 lakh copies (1.79 lakh copies of variant included) (Source: ABC January-June 2019) (RNI figures for Lucknow and Kanpur included), it covers Uttarakhand, Himachal Pradesh , Jammu and Kashmir,Haryana, Chandigarh, Punjab, Delhi NCR and Uttar Pradesh.
	</p>
	<h2>OUR PRODUCTS</h2>
	<p>
	News Paper publishes an 18-24 page daily issue with colorful and vibrant pages in every edition. In addition to the mainline newspaper and the city centric pull outs, News Paper publishes several niche supplements focusing on topics like jobs and career, entertainment, women and many more.

	News Paper's 'Manoranjan' is a 4-page weekly dose of entertainment that comes out every Sunday across all its editions.

	'Rupayan', a 16-page weekly magazine is published every Friday. The supplement carries women-centric content including stories on food, fashion, beauty, home and interiors and many more across all 19 editions.

	News Paper also publishes 'Udaan', a 16-page weekly magazine centering around education and career opportunities, published every Wednesday across all editions.
	</p>
	<h2>OUR DIVISIONS:</h2>

	<h3>Digital</h3>
	<p>
	News Paper is a leading company in Hindi online space. Launched in 1999, Amarujala.com is the fastest growing Hindi news website in India, and focuses on delivering around the clock national and international news and analysis, business, sports, technology entertainment, lifestyle and astrology. As per Google Analytics, AmarUjala.Com gets 50 Million+ Unique Visitors every month.

	Recently amarujala.com has been re-designed and the new avatar is world class. AmarUjala.Com also received a WAN-IFRA Award for its design & technological evolution.

	First of its kind in Hindi Digital market, amarujala.com has an exciting fully responsive design, which is very clean, light and fast to use.

	News Paper also launched in Dec, 2016, India’s first interactive browser-based TV called News Paper TV. News Paper digital also runs firkee.in which focuses and creates interesting stories for its million plus reader base every month.
	</p>
	<h3>Touch Point</h3>
	<p>
	Touch Point, a highly specialized business unit of News Paper, which offers Integrated Business Solutions to clients & agencies. With its in-depth penetration across all key markets of North India, is known for its conceptual, creativity & affordable delivery. Right from the client briefing to concept planning to project implementation to post-event amplification, Touch Point is driven by a highly dedicated team of professionals.

	Touch Point has executed 150+ marketing initiatives with great élan. Today, it has a highly esteemed clientele consisting of top-notch brands like Hindustan Unilever, Dabur, P&G, Hero, Mahindra, Tata Motors, Honda, LG, Volvo, Kellogg’s, Parle, SRM University, Aditya Birla Group, DS Group and many others.

	Touch Point offers a seamless 360-degree solution to a potential client with Print Campaign, FM Tie-up, TV Coverage, OOH Campaign, PR Support, Sales-linked Promotions & Digital Amplification. The core focus firmly remains on the delivery of the desired marketing objectives for the client-advertiser in the relevant target group with an eye on measurable improvement in business penetration.
	</p>
	<h3>News Paper Foundation</h3>
	<p>
	News Paper Foundation (AUF) is a social arm of News Paper Limited (Formerly known as News Paper Publications Limited) with a mission to create a better future through empowerment of all. AUF has initiated and involved in series of Social activities which enables a larger section of society to live their life with dignity and pride – through direct action on the ground with an objective to, empower all – less advantaged first, development of girl child, protecting environment, serve the elderly, identify unsung heroes from all walks of life and to help unfold excellence in our youth.

	AUF has initiated various social initiatives like Atul Maheshwari Chatravritti, as part of which we promote meritorious students and provide them with financial assistance, Medhavi Chatra Samman in which we provide a platform to students to present their credentials to the world and Maa Tujhe Pranam, where we perform series of thematic activities which revolve around patriotism and attempt to create a sense of responsibility towards nation.
	</p>
	<h3>Impressions Printing and Packaging Limited</h3>
	<p>
	News Paper has a large newspaper and commercial printing division that involves the printing of magazines, books for UPSC, Civil Services, Bank PO, NET-JRF, competitive exams and many more. Printing operations are spread across 17 cities namely in Jhansi, Agra, Meerut, Noida, Panchkula, Lucknow, Bareilly, Dehradun, Kanpur, Gorakhpur, Varanasi, Jammu, Aligarh, Allahabad, Moradabad, Dharamsala & Nainital.

	The investments made into this division make it a high-end printing facility, allowing a variety of printing by way of sheet fed and binding machines, cutting, folding, lamination, packing, gathering and UV printing machinery. This division has a capacity to convert approximately 25 MT paper per day in sheet form and approx. 250 MT news print on PAN India basis.
	</p>
	<h3>Autdoors</h3>
	<p>
	Autdoors is a OOH division of News Paper that specializes in providing OOH advertising solutions, retail and permanent branding solutions and innovative connect to its clients. With Pan India operations, Autdoors is fully geared to handle campaigns across the country with dedicated buying and planning team along with specialised servicing team based in all major metros. Autdoors also has media presence in 7 cities in North India with over 160 media options in traditional formats and street furniture. 
	</p>

	
	<section class="member">
		<div class="row">
			<div class="col text-center">
				<div class="heading">Members</div>
			</div>
		</div>

		<div class="row rowmember">
			<div class="col-md-4">
				<img src="assets/image/home/user.png" alt="Snow" style="width:100%;">
			</div>
			<div class="col-md-8">
				<h2>Allen Paul</h2>
				<h4>Director</h4>
				<p>
					Allen Paul is the managing director and chief executive officer of News Paper. 
				</p>
			</div>
		</div>
		<div class="row rowmember">
			<div class="col-md-4">
				<img src="assets/image/home/user.png" alt="Snow" style="width:100%;">
			</div>
			<div  class="col-md-8">
				<h2>Jesica Roy</h2>
				<h4>Managing Director</h4>
				<p>
					Jesica Roy is the managing director and chief executive officer of News Paper. 
				</p>
			</div>
		</div>
	</section>