.welcome_text{
	position: absolute;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 900;
  font-size: 3.5em;
  transform: translate(-50%, -50%);
}
.home{
	
}
.heading{
	font-size:3em;
	font-weight: 900;
	padding-bottom: 60px;
}
.listingrow{
	padding-bottom:50px;
}
.gifsection{
	padding-bottom:0px !important;
	padding-top:0px !important;
}