:host .mat-dialog-container{
	background: #ccc;
}
.logindiv{
	background: #fff;	
	overflow: hidden;
}
.input{
	border: 1px solid #060606;
	border-radius: 5px;
}
.containerdiv{
	padding-top: 30px;
	padding-bottom:30px;
}
.example-full-width{
	width: 100%;
}
.btndiv{
	padding-top: 30px;
	padding-bottom:30px;
}