.footer-bottom {
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: .8em;

}
.footer{
	background: #f93515;
	color: #fff;
   bottom:0;
    width: 100%;
}
.footerlogo{
	margin: auto;
	width: -moz-available;
	max-width: 350px;
	display: block;
}
.about_container{
	padding-top: 50px;
	align-content: center;
	align-items: center;
	display: grid;
	height: 100%;
}
.listclass{
	padding-top: 50px;
	align-content: center;
	align-items: center;
	display: grid;
	height: 100%;
}