<footer  class="footer">
	<div class="row">
		<div class="col-md-4">
            <div class="container about_container">
                <div class="row">
                <div class="col text-center">
                    <div class="heading">About US</div>
                </div>
            </div>
            <p>News Paper is India’s 4th largest newspaper with a total readership of 4.70 crore readers as per the latest Indian Readership Survey (IRS). News Paper has 21 editions, in 6 states and 2 Union Territories covering 179 districts....<a routerLink="/about">Read more ...</a></p>
            </div>
			
		</div>
        <div class="col-md-2">
            <div class="listclass">
                <ul class="heroes">
                  <li>
                    Top News
                  </li>
                  <li>
                    Local News
                  </li>
                  <li>
                    Intenational News
                  </li>
                  <li>
                    Sercurity News
                  </li>
                  <li>
                    Home Affairs
                  </li>
                  <li>
                    Editorial
                  </li>
                </ul>
            </div>
        </div>
         <div class="col-md-2">
            <div class="listclass">
                <ul class="heroes">
                  <li>
                    National News 
                  </li>
                  <li>
                    System News
                  </li>
                  <li>
                    Technical News
                  </li>
                  <li>
                    world News
                  </li>
                  <li>
                    Bollywood
                  </li>
                  <li>
                    Entertainment
                  </li>
                </ul>
            </div>
        </div>
		<div class="col-md-4">
			<img src="assets/image/logo.png" alt="log" class="footerlogo">
		</div>
	</div>
	<div class="row footer-bottom show-on-scroll animated fadeInUp">
        <div class="col-md-3 text-center">
            hello@newspaper.co
        </div>
        <div class="col-md-7 text-center">
            ©2021 News Paper. All rights reserved.
        </div>
        <div class="col-md-2 text-center">
            <i class="fab fa-facebook-f padding-right"></i>
            <i class="fab fa-twitter padding-right"></i>
            <i class="fab fa-instagram padding-right"></i>
            <i class="fab fa-behance padding-right"></i>
        </div>
   
    </div>
</footer >