.galleryimg{
	width: 100%;
	min-height: 20em;
	height: 20em;
}
.heading{
	font-size:3em;
	font-weight: 900;
	padding-bottom: 60px;
}
.colgallery{
	padding-bottom: 1em;
	border: 5px solid #fff8f8;
	-moz-box-shadow:    inset 0 0 10px #f93515;
   -webkit-box-shadow: inset 0 0 10px #f93515;
   box-shadow:         inset 0 0 10px #f93515;
}